*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  min-height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: @font, sans-serif;
  font-size: @font-size;
  color: @color-text;
}

.flex{
  display: flex;

  &:not(.center):not(.nospace){
    justify-content: space-between;
  }
<<<<<<< HEAD

  &.center{
    justify-content: center;
  }
=======
>>>>>>> 3e5466e34eabea1de1d64e1dbc24e0ca87a681cf
}
